.accountSettingsPage {
    background: #6e6e6e;
    border: 5px solid black;
    width: 80%;
    position: relative;
    z-index: 10000;
    margin: auto;
    color: white;
}



input[type="radio"] {
    padding: 20px;
    margin: 10px;
}

label {
    font-size: 1.3em;
}

h1 {
    text-align: center;
    margin: auto;
    padding: 20px;
    font-size: 3em;
}

h2 {
    display: inline-block;
    width: 40%;
    margin: 0;
    padding: 10px;
    vertical-align: top;
    font-size: 2em;
}

.settingDiv {
    background: #333333;
    width: 90%;
    margin: 10px auto 10px auto;
    padding: 20px;
}

button {

    font-family: Arial;
    font-weight: bold;
    margin-top: 5px;
    
    padding: 10px;
    border: none;
    border-radius: 10px;
}

button:hover{
	background: #b115ff;
}

.inputsDiv {
    display: inline-block;
    margin: 0;
    padding: 10px;
    vertical-align: top;
}

.closeButton {
    display: inline-block;
    font-size: 2em;
    margin: 5px;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    float: right;
    width:50px;
    height: 50px;
}

.bottomButtonDiv {
    display: flex;
    justify-content: center;
}


.bottomButton {
    font-size: 1.5em;
    display: inline-block;
    font-size: 2em;
    margin: 10px;
}

.updateButton {
    background: #9212d2;
    margin: 10px;
    clear: both;
    font-size: 1.5em;
}

.cancelButton{
    margin: 5px;
    float: right;
}

.error {
    color: #ff6060;
    font-size: 1.5em;
    margin: 5px;
}