<div class="helpPage">
    <h1>About ENotes</h1>
    <h2>Notes</h2>
    <div class="section">
        The most important component of ENotes are the notes. Any thought you have can be recorded on a note where it will be saved as
        soon as you type it! However, notes also has many other features that allow you to organize your thoughts.
         <img src="assets/help_page/note-help.png" />
        <h3>Edit a Note</h3>
        Editing a note is very easily, simply click anywhere in a note body and type to record your thoughts! You can even add a title
        to a note by double clicking on the top bar of a note (the area between the plus and x buttons) and typing. The color of the note
        can be changed by right clicking on the note and selecting the color menu, or the text style can be changed by right clicking and
        selecting the font or font size menu.
        <h3>Move and Resize Notes</h3>
        The location and size of your notes can also be changed to allow for many different organizational style. To move a note, click
        the top of the note and drag it to the location you would like it to be. To change it's size, click the and drag the lower right
        corner of the note.
        <h3>Create and Delete Notes</h3>
        To create new notes, click the plus button located at the top left of any note. To delete a note, click the x button located at the
        top right of the note you would like to delete. Be careful though, once deleted a note cannot be recovered!
    </div> 
    <h2>Pages</h2>
    <div class="section">
        To further allow you to organize your notes, ENotes allows you to create multiple pages of notes.
         <img src="assets/help_page/page-help.png" />
        <h3>Create and Delete Pages</h3>
        To create a Page, go to the top bar of the web page and click on the tab with a plus icon. This will create a new Page with no name.
        To delete a page, click on the small x button located on the right side of that Page's tab.
        <h3>Edit Pages</h3>
        To change a Page's name, simply double click on the Page's tab and begin typing. To reorder your pages' tabs, click on any tab 
        and drag it to the position in the order you desire.
        <h3>Navigate Pages</h3>
        To navigate between pages, click on the tab in the navigation bar at the top of the page. You can also move your notes between pages
        by right clicking on a note and selecting "Move to Page..."
    </div>
    <h2>Settings</h2>
    <div class="section">
        Each ENotes account has a few user settings that can be set to change the appearance of your notes. This allows you to customize
        ENotes to create notes with your desired appearance easier.
        <img src="assets/help_page/settings-help1.png" />
        <h3>How to Acess Settings</h3>
        To access settings, click on the gear button on the top right of the screen. Then, in the menu that opens, select "Account Settings."
        <h3>The Settings Window</h3>
        Once in the settings window, there are four settings you can set:
        <ul>
            <li>Text Size: this sets the relative size of all notes</li>
            <li>Default Color: this sets the color that all new notes will start as</li>
            <li>Default Font: this sets the font that all new notes will start with</li>
            <li>Default Font Size: this sets the font size that all new notes will start with</li>
        </ul>
        All settings will be saved for the next time you enter ENotes
        <br />
        Below the four settings, there is a box that can be used to change your password. Enter your old password in the first field, 
        followed by the desired new password in the second and third field, and then press "Update Password" to change your password.
    </div>

    <button (click)="location.back()">Back</button>
</div>
