
<h1 class="title"><span class="welcomeMessage">Welcome {{getUsername()}}!</span>
    <div class="rightFloat optionsContainer">
        <input type="image" src="assets/refresh-icon.png" alt="Refresh" class="mainPageButton button" (click)="refresh()" />
        <input type="image" src="assets/gear.png" alt="Options" class="mainPageButton button" (click)="toggleOptions($event)" />
        <app-options-menu [visible]="optionsVisible" (showAccountSettings)="showAccountSettings()"></app-options-menu>
    </div>

</h1>
<!--
<nav class="tabBar">
    <h1>Pages</h1>
    <div class="tab">
        Test
    </div>
    <div class="tab">
        Test a longer word
    </div>
</nav> ->>

<!-- Notes -->
<div *ngFor="let note of getNotes()" (onmousemove)="mouseMove()">
    <app-note [note]="note"
        [undoHandler]="undoHandler"
        (mousedown)="selectNote(note)"
        (onDrag)="noteDragStart($event)"
        (onResize)="noteResizeStart($event)"
        (onRightClick)="noteRightClicked($event)"></app-note>
</div>

<app-right-click-menu [display]="rcmDisplay"></app-right-click-menu>

<app-account-settings-page [(display)]="accountSettingsVisible"></app-account-settings-page>



