
<h1 class="title"><span class="welcomeMessage">Welcome {{getUsername()}}!</span>
    <div class="rightFloat optionsContainer">
        <input type="image" src="assets/refresh-icon.png" alt="Refresh" class="mainPageButton button" (click)="refresh()" />
        <input type="image" src="assets/gear.png" alt="Options" class="mainPageButton button" (click)="toggleOptions($event)" />
        <app-options-menu [visible]="optionsVisible" (showAccountSettings)="showAccountSettings()"></app-options-menu>
    </div>

</h1>
<!-- Pages -->
<div class="tabBar">
  <div *ngFor="let page of noteService.notePages" [class]="page.active? 'tab selectedTab': 'tab unselectedTab'" maxlength="100"
       (mousedown)="tabMouseDown($event)"
      (click)="tabClick(page)"
       (dblclick)="editTab($event, $event.target.children[0], page.name.length)">
    <span contenteditable="false" maxlength="100" class="innerTab"
       (mousedown)="tabMouseDown($event)"
       (dblclick)="editTab($event, $event.target, page.name.length)"
       (keydown)="filterKeys($event, page)"
       (input)="filterInputs($event)"
       (blur)="blurTab($event.target, page)">{{page.name}}</span><input type="image" src="assets/xsmall.png" class="xbutton" contenteditable="false"
           (click)="deleteTab(page)"/>
  </div>
  <div class="tab unselectedTab" (click)="addTab()"  style="cursor: pointer">
    <input class="plusbutton" type="image" src="assets/smallplus.png" />
  </div>
</div>

<!-- Notes -->
<div *ngFor="let note of noteService.visibleNotes" (onmousemove)="mouseMove()">
    <app-note [note]="note"
        [undoHandler]="undoHandler"
        (mousedown)="selectNote(note)"
        (onDrag)="noteDragStart($event)"
        (onResize)="noteResizeStart($event)"
        (onRightClick)="noteRightClicked($event)"></app-note>
</div>

<app-right-click-menu [display]="rcmDisplay"></app-right-click-menu>

<app-account-settings-page [(display)]="accountSettingsVisible"></app-account-settings-page>



